* {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: darkgrey;
}

header {
  margin-top: 250px;
  margin-bottom: 20px;
  margin-right: 250px;
}

header span {
  color: orange;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 40px;
}

main {
  display: flex;
  justify-content: center;
}

.img {
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 30px;
}

.nav {
  display: inline-block;
  margin: 30px;

  font-size: 20px;
}

ul li {
  margin: 20px;
}

a {
  text-decoration: none;
  color: darkgrey;
}

a:hover {
  color: orange;
}
